.organizations {
  display: flex;
  justify-content: space-between;
  background: #f1f4f9;
  padding: 20px;
}
.organizations-logo{
    display: block;
    font-size: 20px;
    letter-spacing: .03em;
    color: #a7b0c2;
    margin-bottom: 10px;
}
.organizations-logo h4 {
  color: rgb(21, 45, 105);
}

.organizations-logo-block {
  display: flex;
  gap: 30px;
  align-items: center;
}
.organizations-img img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.organizations-info {
  display: flex;
  justify-content: end;
  gap: 20px;
}
@media screen and (max-width: 573px) {
  .organizations-info {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
    .organizations {
      display: flex;
      flex-direction: column;
    }
  }